# Node.js dependencies
node_modules/

# Environment variables
.env
FIREBASE_SERVICE_ACCOUNT_PATH

# Logs
logs/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Firebase config and credentials
.firebase/
.firebaserc
src/utils/serviceAccountKey.json
src/config/serviceAccountKey.json
src/config/serviceAccountKey(old-backup).json
src/config/analyticsServiceAccountKey.json
src/routes/credentials.json
src/utils/token.json

# Coverage directory used by testing tools
coverage/

# Build output directories
build/
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Debugging files
*.tgz
*.zip
*.backuporegonchem_dashboard/
oregonchem_dashboard/
.vercel
